<div class="page-header background-world" style="background-image: url('<%= image_path('review.png')%>');">
  <h3><%=@review.project.name%> - New Review</h3>
</div>
<%= render 'form', review: @review %>